/* //////////////// FONT //////////////// */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* //////////////// VARIABLES //////////////// */
:root {
  --white-color: #e2e2e2;
  --dark-color: #1f1f1f;
  --light-color: #d30062;
  --blue-color: #0066ff;
}

/* //////////////// DEFAULT //////////////// */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
}

/* //////////////// HEADER SECTION //////////////// */
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 5px 20px;
  background-color: var(--white-color);
}

.logo img {
  height: 50px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 20px;
}

.menu ul li a {
  font-weight: 600;
  color: var(--dark-color);
  font-size: 18px;
  transition: 0.3s;
}

.menu ul li a:hover {
  color: var(--light-color);
}

.icons-box {
  display: flex;
  justify-content: end;
  align-items: center;
}

.icons-box i {
  font-size: 25px;
  margin: 0px 10px;
  cursor: pointer;
}

/* //////////////// TOP BOX //////////////// */
.top-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px 0px 20px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content-box {
  padding: 0px 50px;
}

.content-box h1 {
  font-size: 50px;
  color: var(--dark-color);
}

h1 span {
  color: var(--white-color);
}

.content-box p {
  font-weight: 600;
  width: 600px;
}

.content-box a {
  border: none;
  outline: none;
  padding: 8px;
  width: 150px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.content-box a:hover {
  background-color: var(--light-color);
  color: var(--white-color);
}

.content-box .image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box .image-box img {
  height: 350px;
}

/* //////////////// CARDS SECTION //////////////// */
.cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}

.title {
  font-size: 30px;
  letter-spacing: 1px;
  color: var(--light-color);
}

.cards-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.card-item {
  background-color: var(--dark-color);
  border-radius: 20px;
  padding: 30px 15px;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: -1px 3px 63px -15px rgba(31, 31, 31, 1);
  -moz-box-shadow: -1px 3px 63px -15px rgba(31, 31, 31, 1);
  box-shadow: -1px 3px 63px -15px rgba(31, 31, 31, 1);
}

.card-item h3 {
  text-align: center;
  color: var(--white-color);
  font-size: 22px;
}

.card-item p {
  width: 250px;
  text-align: center;
  color: var(--white-color);
  padding-top: 20px;
}

.card-item span {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  padding: 30px 0px;
  color: var(--light-color);
}

.card-item a {
  display: block;
  border: none;
  outline: none;
  padding: 8px;
  width: 130px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.card-item a:hover {
  background-color: var(--light-color);
  color: var(--white-color);
}

/* //////////////// ABOUT SECTION //////////////// */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  margin-top: 100px;
  padding: 20px 0px;
}

.about-section .image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.about-section .image-box img {
  height: 400px;
  animation: imgAnimate 4s ease infinite;
}

@keyframes imgAnimate {
  0% {
    transform: translate(20px);
  }

  50% {
    transform: translate(-20px);
  }

  100% {
    transform: translate(20px);
  }
}

.about-content {
  width: 50%;
}

.about-content h2 {
  color: var(--white-color);
  padding-bottom: 20px;
  font-size: 40px;
}

.about-content p {
  width: 500px;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}

/* //////////////// SOCIAL MEDIA SECTION //////////////// */
.social-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 80px;
}

.social-item i {
  font-size: 30px;
  color: var(--white-color);
  background-color: var(--light-color);
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.social-item i:hover {
  background-color: var(--dark-color);
}

/* //////////////// FOOTER SECTION //////////////// */
footer {
  background-color: var(--dark-color);
  padding: 50px 60px;
}

.footer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.links-box {
  display: flex;
  justify-content: first baseline;
  align-items: center;
}

.links-box ul li {
  list-style-type: none;
  padding: 10px 0px;
}

.links-box ul li a {
  color: var(--white-color);
}

.contact-box .contact-item {
  padding: 10px 0px;
}

.contact-item i,
.contact-item span {
  color: var(--white-color);
  padding: 0px 5px;
  font-size: 18px;
}

.desc-box h2,
.desc-box p {
  color: var(--white-color);
  padding: 5px 0px;
}

/* //////////////// RESPONSIVE //////////////// */
@media screen and (max-width: 1300px) {
  header {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .top-box {
    flex-direction: column;
  }

  .contact-box {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .contact-box p {
    text-align: center;
  }
}

@media screen and (max-width: 1030px) {
  .about-content p {
    font-size: 16px;
    width: 400px;
  }
}

@media screen and (max-width: 820px) {
  header {
    display: flex;
    flex-direction: column;
  }

  header .menu {
    padding: 30px 0px;
  }

  header .menu ul li {
    padding: 0px 8px;
  }

  header .menu ul li a {
    font-size: 16px;
  }

  .about-section {
    flex-direction: column;
  }

  .about-content {
    padding: 50px 0px;
  }
}

@media screen and (max-width: 768px) {
  .cards-section {
    padding: 80px 20px;
  }

  .cards-section h2 {
    text-align: center;
  }

  .cards-section p {
    width: 300px;
    text-align: center;
    padding-top: 25px;
  }

  .cards-box {
    flex-direction: column;
  }

  .card-item {
    margin: 20px 0px;
  }

  .about-section .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about-section .about-content h2 {
    text-align: center;
  }

  .about-section .about-content p {
    text-align: center;
  }

  .about-section .image-box img {
    height: 300px;
  }

  .social-section {
    flex-direction: column;
  }

  .social-section .social-item {
    padding: 25px 0px;
  }

  .footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .links-box li {
    text-align: center;
  }

  .contact-box {
    padding: 50px 0px;
  }

  .desc-box h2,
  .desc-box p {
    text-align: center;
  }
}

@media screen and (max-width: 630px) {
  .content-box h1 {
    font-size: 30px;
  }

  .content-box p {
    width: 350px;
    padding-top: 20px;
  }

  .image-box img {
    height: 250px;
  }
}
